@model ASF.Entities.LocaleStringResource

@{
    ViewBag.Title = "Details";
}

@{ var Language = ViewData["Language"];
    var LanguageCol = "Language";
};

@{ var LocRes = ViewData["LocRes"];
    var LocResCol = "LocRes";
};

<h2>Details</h2>

<div>
    <h4>LocaleStringResource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResourceValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => LocResCol)
        </dt>

        <dd>
            @Html.DisplayFor(model => LocRes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => LanguageCol)
        </dt>

        <dd>
            @Html.DisplayFor(model => Language)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
